//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #46a583;
$secondary: #ff795b;
$success: #3ca098;
$danger: #ff5b5c;
$warning: #ffb84c;
$info: #5fc9bb;
$dark: #143f46;
